<!DOCTYPE html>
<html>
  <head>
    <title>Poopys</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="images/dogicon.png" type="image/x-icon">
  </head>
  <body>
    {{{body}}}
  </body>
</html>

{{!-- Esta vista es del layout sin el nav --}}