<body>
  <div class="index-overlay">
  </div>
  <header class="header">
    <video class="header__vid" src="images/perros-vid.mp4" type="video/mp4" autoplay loop muted></video>
    <div class="header-container">
      <div class="greetings-container">
        <h1>Somos Poopys!</h1>
        <h2>Un refugio dedicado al rescate y reubicación de mascotas.</h2>
      </div>
    </div>
  </header>
  <aside class="login-btn">
    Entrada para <a href="login">miembros</a>
  </aside>
</body>
