<!DOCTYPE html>
<html>
  <head>
    <!-- ------------------------------ Meta Tags -------------------------------->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Adopta a un amigo de por vida." />
    <!-- ------------------------------ End of Meta Tags -------------------------------->
    
    {{!-- <!-- ------------------------------ Style Link --------------------------------> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- <!-- ------------------------------ End of Style Link --------------------------------> --}}

    <!-- ------------------------------ Favicon -------------------------------->
    <link rel="shortcut icon" href="images/dogicon.png" type="image/x-icon">
    <!-- ------------------------------ End of Favicon -------------------------------->

    <!-- ------------------------------ Title Tag -------------------------------->
    <title>Poopys</title>
    <!-- ------------------------------ End of Title Tag -------------------------------->
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" class="nav__checkbox" id="nav-toggle" />
      <label for="nav-toggle" class="nav__button">
        <span class="nav__icon">&nbsp;</span>
      </label>
    </div>
    <nav class="modal">
      <div class="modal__container">
        <ul class="modal__container--list">
          <li><a href="/">Inicio</a></li>
          <li><a href="#">Acerca de nosotros</a></li>
          <li><a href="/adopciones">Adopción</a></li>
          <li><a href="/contact">Contactanos</a></li>
          <li><a href="#">Politica de privacidad</a></li>
        </ul>
      </div>
    </nav>
    {{{body}}}
  </body>
  <script src="/javascripts/menu.js"></script>
</html>
